<div class="container-fluid mt-5">
    <div class="row">
         <div class="col-md-1">
            <img src="https://recruitment.issapi.info/assets/images/ISS_1800.jpg" class="img-fluid" alt="logo">
         </div>
         <div class="col-md-8">
             <ul class="d-flex justify-content-between">
                <li *ngFor = "let navarr of navbarArr">
                       <a href=""> {{navarr}}</a>
                </li>
             </ul>
         </div>
         <div class="col-md-3 d-flex">
            <a href="javascript:;" class="link">
                Fairs
            </a>
            <a href="javascript:;" class="link_2">
                Uppgrade now
            </a>
            <select name="" id="">
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="JS">JS</option>
            </select>
         </div>
    </div>
</div>



















